html{
  height:100%;
}

body{
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: 100px 50vh auto 10em;
  grid-template-columns: 1fr 1fr 1fr .2fr;
  grid-template-areas:
  "header header header header"
     "main main main main"
  "footer footer footer footer";
  background-color:#264653;
  min-height: 100%;
}

.Avatar{
  border-radius: 100px;
  width:20%;
  margin-left: 10px;
}

nav{
  display: grid;
  grid-template-rows: minmax(min-content, 100px) min-content;
  height: 100px;
  box-shadow: 0px 1px 60px black;
}

nav .content h1{
  margin-right: auto;
  display: grid;
  text-align: center;
  place-items:center;
  padding-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px
}

nav .content{
  background-color: #F5F5F5;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  align-content: space-evenly;
  grid-template-columns: 80% 25%;
  padding-right: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

nav .content .links{
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  place-items: center;
  grid-auto-columns: minmax(min-content, 100px);
  font-family: 'Dancing Script', cursive;
}

nav .content .links a{
  color: black;
  text-decoration: none;
}

nav .content .links a:hover{
  color: #E76F51;
  text-decoration: none;
  transition: ease;
  transition-duration: 200ms;
  font-weight: bold;
}

nav .content .menu{
  display: none
}

nav .content .menu:hover{
  filter: opacity(50%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select:none;
}

nav .dropdown{
  display: none;
  background-color: #F5F5F5;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Dancing Script', cursive;
}

nav .dropdown a{
  color: black;
  padding: 25px;
  text-decoration: none;
}

nav .dropdown a:hover{
  color: #E76F51;
  background-color: white;
}

@media only screen and (max-width:520px) {
  nav .content .menu{display: inline;}
  nav .content .links{display: none;}
}



header {
  grid-area: header;
}

main{
  grid-area: main;
  color:white;
}

aside{
    grid-area: aside;
    padding: 10px;
    color:white;
}

footer{
  margin-top: auto;
  grid-area: footer;
  padding: 10px;
  color:black;
  background-color: #F5F5F5;
}

.Cover-Photo{
  background-position: center;
  width: auto;
  height: 87vh;
  background-image: url('../Photos/RoloRunning.jpg');
  background-size: cover;
  background-repeat: none;
}

.title{
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px 1px black;
  font-size: 50px;
  text-align: center;
  margin-top: 50vh

}
