html{
  height:100%;
  background-color: #F5F5F5;
}

.title{
  font-family: 'Dancing Script',serif ;
  text-shadow: 2px 1px 1px black;
  font-size: 50px;
  text-align: center;
  margin-top: 50vh;
  user-select: none;
}

.Cover-Photo{
  background-image: url('../Photos/RoloRunning.jpg');
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container{
  background-color:rgba(255, 255, 255, 0.2);
  width:75%;
  height: 97%;
  margin: 10px auto 10px auto
}

.bg-image{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title{
  text-align: center;
  font-family: 'Dancing Script',serif ;
  padding-top: 50px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px black;
}

.inputs{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top:10px;
  font-family: 'Dancing Script',serif ;
  font-size: 18px;
}

.inputs input{
  padding: 5px;
  margin: 10px;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px
}

.message{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dancing Script',serif ;
  font-size: 24px;
  text-align: center;
}

.message textarea{
  width: 100%;
  padding: 10px 20px 5px 20px;
  margin: 10px;
  height: 200px;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
}

.submit-button{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dancing Script',serif ;
  font-size: 20px;
}

.submit-button input{
  width: 100%;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.img1{
  background-image: url('../Photos/RoloRunning.jpg');
}

.img2{
  background-image: url('../Photos/IMG_5494.jpg');
}

.img3{
  background-image: url('../Photos/IMG_3633.jpg');
}

.bg-text{
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 36px;
  border: 2px solid #F5F5F5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 300px;
  padding: 20px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px 1px black;
}

body{
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: 100px 88vh auto 10em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
     "main main main main";
  background-color:#F5F5F5;
  min-height: 100%;
}


nav{
  display: grid;
  grid-template-rows: minmax(min-content, 100px) min-content;
  height: 100px;
}

nav .content h1{
  margin-right: auto;
  display: grid;
  text-align: center;
  place-items:center;
  padding-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px
}

nav .content{
  background-color: #F5F5F5;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  align-content: space-evenly;
  grid-template-columns: 80% 25%;
  padding-right: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  z-index: 3;
}

nav .content .links{
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  place-items: center;
  grid-auto-columns: minmax(min-content, 100px);
  font-family: 'Dancing Script', cursive;
  padding-bottom: 10px;
}

nav .content .links a{
  color: black;
  text-decoration: none;
}

nav .content .links a:hover{
  color: #E76F51;
  text-decoration: none;
  transition: ease;
  transition-duration: 200ms;
  font-weight: bold;
}

nav .content .menu{
  display: none
}

nav .content .menu:hover{
  filter: opacity(50%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select:none;
}

nav .dropdown{
  display: none;
  background-color: #F5F5F5;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Dancing Script', cursive;
  z-index: 2;
}

nav .dropdown a{
  color: black;
  padding: 25px;
  text-decoration: none;
}

nav .dropdown a:hover{
  color: #E76F51;
  background-color: white;
}

@media only screen and (max-width:520px) {
  nav .content .menu{display: inline;}
  nav .content .links{display: none;}
  nav .content{padding-right:0px;}
}


header {
  grid-area: header;
}

main{
  grid-area: main;
  color:white;
}

aside{
    grid-area: aside;
    padding: 10px;
    color:white;
}

footer{
  margin-top: auto;
  grid-area: footer;
  padding: 10px;
  color:black;
  background-color: #F5F5F5;
}

.Socials{
  padding: 25px;
}

.socials .instagram{
  padding: 50px;
}

.Portfolio{
  background-color: #f1f1f1;
  max-width: 1000px;
  margin: auto;
  color: black;
}

.Portfolio h1{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  word-break: break-all;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

.Portfolio h2, h3{
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  text-align: center;
}

.row{
  margin: 8px;
}

.row,
.row > .column {
  padding: 8px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.column{
  float: left;
  width: 100%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.contents{
  background-color: #f1f1f1;
  padding: 10px;
}

.image-1{
  width: 100%;
}

.line{
  max-width:800px;
  min-width: 200px;
  width: 75%;
  height: 4px;
  background-color: rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .column {width: 100%;}
  .inputs{font-size: 16px; width: 50%;}
  .message{font-size: 18px; width: 50%;}
  .submit-button{font-size: 16px; width: 50%;}
}

@media screen and (max-width: 600px) {
  .column {width: 100%;}
  .inputs{font-size: 14px; width: 60%;}
  .message{font-size: 16px; width: 60%;}
  .submit-button{font-size: 14px; width: 60%;}
}
